:global(#graph) {
  position: relative;
  flex-grow: 1;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textData {
  @media only screen
    and (max-width: 425px) {
    flex-direction: column;
    height: auto;
  }
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: flex-end;

  background: white;
  position: relative;
  height: 150px;
}

.charts {
  position: relative;
  background: white;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
