{
  "passPerPreset": true,
	"presets": [
		{ "plugins": [
        "transform-runtime",
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "__coverage__"
      ]
    },
		{
			"passPerPreset": false,
			"presets": [ "es2015", "stage-2" ]
		}
	]
}
