node_modules
server/private
coverage
.imdone
misc
npm-debug.log.*
!app/icons/google/msvg/navigation/menu.js
!app/icons/google/msvg/navigation
app/icons/google/svg
app/icons/google/mmsvg/action
app/icons/google/mmsvg/alert
app/icons/google/mmsvg/av
app/icons/google/mmsvg/communication
app/icons/google/mmsvg/content
app/icons/google/mmsvg/device
app/icons/google/mmsvg/editor
app/icons/google/mmsvg/file
app/icons/google/mmsvg/hardware
app/icons/google/mmsvg/image
app/icons/google/mmsvg/maps
app/icons/google/mmsvg/notification
app/icons/google/mmsvg/places
app/icons/google/mmsvg/social
app/icons/google/mmsvg/toggle
app/icons/templarian
app/icons/zavoloklom
ospec
icons
