node_modules
server/private
coverage
.imdone
misc
npm-debug.log.*
app/icons/
!app/icons/google/msvg/navigation/menu.js
!app/icons/google/msvg/content/filter-list.js
!app/icons/google/msvg/hardware/keyboard-arrow-down.js
!app/icons/google/msvg/hardware/keyboard-arrow-up.js
!app/icons/google/msvg/hardware/keyboard-arrow-right.js
!app/icons/google/msvg/hardware/keyboard-arrow-left.js
ospec
