:root {
  --width: 56px
}

.root {
  background: #F2F1F9;

  position: relative;
  // left: var(--width);

  height: 64px;
  width: 100%;
  flex: 0 0 64px;
  // width: calc( 100% - var(--width));

  :global(h1) {
    margin-left: 32px;

    font-size: 24px;
    font-style: italic;
    font-weight: 300;
  }
}

.geo {
  background: white;
}

.graph,
.data {

}
