.tableHeader {
  height: 56px;

  background: #F4F5FA;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  text-align: center;

  margin: 0;
  padding: 0;



  // :global(ul) {
  //   // list-style: none;
  //   margin: 0;
  //   padding: 0;
  // }

  :global(li) {
    color: #2B292D;
    font-size: 20px;
    font-weight: 300;

    height: 100%;

    flex-grow: 1;
    list-style: none;

    align-items: center;
    justify-content: center;

    border-right: 0.5px solid rgba(151, 151, 151, 0.2);
    border-bottom: 0.5px solid rgba(151, 151, 151, 0.2);

    // border-right: 1px solid black;
    // border left
  }
}
